{% extends 'base.html.twig' %}

{% block title %}
	TodoList
{% endblock %}

{% block javascript %}{% endblock %}
{% block body %}

	{# {{ component('form') }} #}
	<nav class="navbar navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand">ToDoList</a>
			{% if app.user %}
				<div class="text-light">
					You are logged in as
					<span class="text-primary">
						{{ app.user.userIdentifier }}
					</span>
				</div>
				<a class="btn btn-danger" href="{{ path('app_logout') }}">Logout</a>
			{% else %}
				<div class="text-light">
					<a class="btn btn-primary" href="{{ path('app_register') }}">Register</a>
					<a class="btn btn-success" href="{{ path('app_login') }}">Login</a>
				</div>

			{% endif %}

		</div>
	</nav>

	{% for message in app.flashes('message') %}
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			{{ message }}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}
	<div class="container">
		<header id="main-header" class="bg-primary text-white p-4 mb-3">
			<div class="row">
				<div class="col-md-12">
					<h1 id="header-title">ToDo List
						<i class="fa fa-pencil" style="float:right"></i>
					</h1>
				</div>
			</div>
		</header>
	</div>
	<div class="container-fluid">
		<div class="row g-2">

			{% for todo in todoLists %}
				<div class="col-sm-12 col-md-3 mb-3 mb-sm-0 ">
					<div class="card bg-dark text-light">
						<h1 class="m-3 mb-1">{{todo.title}}
							<button type="submit" class="btn btn-primary mt-1 float-end" value="{{todo.id}}" data-bs-toggle="modal" data-bs-target="#notemodal" id="addNotes">
								<i class="fa fa-add"></i>
							</button>
						</h1>
						<div class="card-body">

							<div class="to-dos" id="toDoContainer">

								{% for item in todo.notes %}
									<div class="col-sm-12 flex-wrap d-flex align-items-center ">
										<div class="d-flex flex-column">
											<span class=" text-light">Title-</span>
											<span class="text-light">Description-</span>
										</div>
										<div class="d-flex flex-column flex-grow-1">
											<span class="ps-3">{{ item.title }}</span>
											<span class="ps-3">{{ item.description }}</span>
										</div>
										<div class="d-flex align-items-center">
											<a href="/done/{{ item.id }}" class="btn btn-info p-1 py-0 done mx-1" type="button">
												<i class="fa fa-check"></i>
											</a>
											<button type="submit" class="btn btn-primary p-1 py-0 float-end" value="{{item.id}}" data-bs-toggle="modal" data-bs-target="#editNoteModal" id="editNotes">
												<i class="fa fa-edit"></i>
											</button>
											{# <a href="/edit/{{ item.id }}" class="btn btn-info p-1 py-0 edit mx-1" type="button">Edit</a> #}
											<a href="{{ path('delete-note', {'id': item.id}) }}" class="btn btn-danger p-1 py-0 delete mx-1" type="button">
												<i class="fa fa-trash"></i>
											</a>
										</div>
									</div>

								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
			<div class="col-sm-12 col-md-3 mb-3 mb-sm-0 ">

				<div class="card bg-dark text-light">
					<h1 class="m-3 mb-1">Done
						<button type="submit" class="btn btn-primary float-end mt-1" id="doneNote" data-bs-toggle="modal" data-bs-target="#doneNoteModal">
							<i class="fa fa-add"></i>
						</button>
					</h1>
					<div class="card-body">
						<div class="to-dos" id="toDoContainer">
							{% for item in doneNotes %}
								<div class="col-sm-12  d-flex align-items-center">
									<div class="d-flex flex-column">
										<span class="text-light">Title-</span>
										<span class="text-light">Description-</span>
									</div>
									<div class="d-flex flex-column flex-grow-1">
										<span class="ps-3">{{ item.title }}</span>
										<span class="ps-3">{{ item.description }}</span>
									</div>
									<div class="d-flex align-items-center">
										<button type="submit" class="btn btn-primary mt-1 p-1 py-0 float-end" value="{{item.id}}" data-bs-toggle="modal" data-bs-target="#editNoteModal" id="editNotes">
											<i class="fa fa-edit"></i>
										</button>
										{# <a href="/edit/{{ item.id }}" class="btn btn-info p-1 py-0 edit mx-1" type="button">Edit</a> #}
										<a href="{{ path('delete-note', {'id': item.id}) }}" class="btn btn-danger p-1 py-0 delete mx-1" type="button">
											<i class="fa fa-trash"></i>
										</a>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-3 mb-3 mb-sm-0 ">

				<div class="card bg-dark text-light">
					<h1 class="m-3 mb-1">Add TodoList</h1>
					<div class="card-body">
						{{ form_start(todoForm, {'action': path('add_todo'), 'method': 'POST'}) }}

						<div class="input-group mb-3 align-items-center">
							{{ form_widget(todoForm.title) }}
							<button type="submit" class="btn btn-primary" id="addToDo">
								<i class="fa fa-add"></i>
							</button>
						</div>
						{{ form_end(todoForm) }}

						<div class="to-dos" id="toDoContainer">
							{% for item in todoLists %}
								<div class="col-sm-12  d-flex align-items-center mb-2">
									<div class="d-flex flex-column">
										<span class="text-light">Title-</span>
									</div>
									<div class="d-flex flex-column flex-grow-1">
										<span class="ps-3">{{ item.title }}</span>
									</div>
									<div class="d-flex">
										<a href="{{ path('delete-todo', {'id': item.id}) }}" class="btn btn-danger p-1 py-0 delete mx-1" type="button">Delete</a>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	{% include '_addModal.html.twig' %}
	{% include '_doneModal.html.twig' %}
	{% include '_editModal.html.twig' %}


{% endblock %}
